@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,600');


$teal: #34D1D1;
$darkPurple: #2F2235;
$olivePurple: #3f3244;
$lightGray: #F2F2F2;
$midGray: #D1D2D3;
$darkGray: #666666;
$black: #000;

body, html {
  font-family: 'Open Sans', sans-serif;
}

#main-header {
  display: flex;
  justify-content: space-between;
  background: $darkPurple;
  color: #fff;

  .header-filling {
    margin: 20px 50px;
    font-weight: 300;
  }

  #highlight {
    color: $teal;
  }


}